body {
    background-image: url(../media/wallpaper.jpg);
}

.publicar-empleo {
    justify-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: #011b40;
    border-color: #011b40;
    max-width: 1000px;
}

.izquierda {
    padding-right: 5%;
}

.derecha {
    padding-left: 5%;
}

.borrar {
    width: 180px;
    background-color: #C31A1A;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición de animación */
}

.borrar:hover {
    background-color: #850707;
    /* Color de fondo al pasar el cursor */
    color: #ffffff;
    /* Color del texto al pasar el cursor */
}

.publicar {
    width: 180px;
    background-color: #011b40;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición de animación */
}

.publicar:hover {
    background-color: #011026;
    /* Color de fondo al pasar el cursor */
    color: #ffffff;
    /* Color del texto al pasar el cursor */
}


#contactEmail,
#contactPhone {
    max-width: 600px;
}

.logo {
    width: 50%;
    /* La imagen ocupa x% de ancho de la columna */
    height: auto;
    /* Mantiene la relación de aspecto */
    object-fit: cover;
    /* Asegura que la imagen cubra todo el espacio disponible sin distorsión */
    border-radius: 10px;
    border-color: #011b40;
}

.titulo {
    background-color: #011b40;
    color: white;
    border-radius: 10px;
}

.bootstrap-select {
    background-color: white;
    color: #011b40;
}



.bootstrap-select .dropdown-menu li a:hover {
    background-color: #2BBBAD !important;
    /* Color de fondo al pasar el cursor */
    color: #ffffff !important;
    /* Color del texto al pasar el cursor */
}

.bootstrap-select .dropdown-menu li a {
    color: #011B40;
    /* Color del texto */
}

html,body{
    height: 100%;
    margin: 0;
}

/* Estilos para los botones de la barra de navegación */
.btn-Registrarse {
    border-color: #011B40;
    border-radius: 0%;
    padding: 10px;
    width: 150px;
    background-color: #011B40;
    color: #ffff;
    border: 2px solid #011B40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-Registrarse:hover {
    background-color: #2BBBAD;
    color: #ffffff;
}

.btn-Login {
    border-color: #011B40;
    border-radius: 0%;
    padding: 10px;
    width: 150px;
    background-color: #ffffff;
    color: #011B40;
    border: 2px solid #011B40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-Login:hover {
    background-color: #2BBBAD;
    color: #ffffff;
}

/* Estilos generales para los enlaces de la navbar */
.navbar-nav .nav-link {
    color: black; /* Color del texto inicial */
    transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilos cuando el cursor pasa sobre el enlace */
.navbar-nav .nav-link:hover {
    color: #2BBBAD; /* Color del texto al pasar el cursor */
}

/* Estilos específicos para el enlace activo */
.navbar-nav .nav-link.active {
    color: #2BBBAD; /* Color para el enlace activo */
}

/* Footer */
.footer-area{
    background-color: #010B1D;
    color: white;
}

.footer-area p{
    color:#868A94;
}

.footer-area ul li a{
    color: #868A94;
}

.footer-area ul li a:hover{
    color: #2BBBAD;
    padding-left: 5px
}