body{
    background-color: #011b40;
}

.cv{
    background-color: white;
    color: black;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Secciones */
h2 {
    color: #011b40;
    border-bottom: 2px solid #011b40; /* Líneas en azul */
}

.btn {
    background-color: #011b40;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 310px;
}

.btn:hover {
    color: #f5f5f5;
    background-color: #0056b3;
}

html,body{
    height: 100%;
    margin: 0;
}

/* Estilos para los botones de la barra de navegación */
.btn-Registrarse {
    border-color: #011B40;
    border-radius: 0%;
    padding: 10px;
    width: 150px;
    background-color: #011B40;
    color: #ffff;
    border: 2px solid #011B40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-Registrarse:hover {
    background-color: #2BBBAD;
    color: #ffffff;
}

.btn-Login {
    border-color: #011B40;
    border-radius: 0%;
    padding: 10px;
    width: 150px;
    background-color: #ffffff;
    color: #011B40;
    border: 2px solid #011B40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-Login:hover {
    background-color: #2BBBAD;
    color: #ffffff;
}

/* Estilos generales para los enlaces de la navbar */
.navbar-nav .nav-link {
    color: black; /* Color del texto inicial */
    transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilos cuando el cursor pasa sobre el enlace */
.navbar-nav .nav-link:hover {
    color: #2BBBAD; /* Color del texto al pasar el cursor */
}

/* Estilos específicos para el enlace activo */
.navbar-nav .nav-link.active {
    color: #2BBBAD; /* Color para el enlace activo */
}

/* Footer */
.footer-area{
    background-color: #010B1D;
    color: white;
}

.footer-area p{
    color:#868A94;
}

.footer-area ul li a{
    color: #868A94;
}

.footer-area ul li a:hover{
    color: #2BBBAD;
    padding-left: 5px
}