
/* html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-image: url(../img/wallpaper.jpg);
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
}

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

input[type=text], input[type=password], select, select option {
    padding: 5px !important;
    margin: 0px !important;
    border-radius: 0px
}

.row
{
    padding:0px; margin:0px
}

.blue-ugb
{
    background-color: #011B40 !important
}

.gray-ugb
{
    background-color: #707070 !important
}

.red-ugb
{
    background-color: #FF0000 !important
}

.light-gray-ugb
{
    background-color: #F0F0F0 !important
} */

/* body{
    justify-items: center;
    background-color: rgb(17, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;     
}   */

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.bodyRegistro {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
    background-image: url(../media/wallpaper.jpg);
}
    
.bodyLogin {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
    background-image: url(../media/wallpaper.jpg);
}

.container{
    justify-items: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 10px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 10px;
}

.containerRegistro{
    justify-items: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 10px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 10px;
}
.containerRegistro input[type="text"]{
    border: none;
    border-bottom: 1px solid #3f3f3f83;
    outline: none;
    width: 85%;
}

.containerRegistro div{
    margin-top: 20px;
}



.blue-ugb {
    color: #f5f5f5;
    height: 32px;
    width: 310px;
    margin: 10px;
    border-radius: 5px;
    background-color: #011b40;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    
.button{
    color: #f5f5f5;
    height: 32px;
    width: 310px;
    border-radius: 5px;
    margin: 10px;
    background-color: #011b40;
    
    
}



input[type="text"]{
    padding: 10px;
    margin: 30px;
    border: none;
    border-bottom: 1px solid #3f3f3f83;
    padding: 5px;
    outline: none;
    width: 85%;
}

input[type= "password"] {
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #3f3f3f83;
    padding: 5px;
    outline: none;
    width: 85%;
}
img{
    padding: 0px;
}

input[type="text"]:focus {
    border-bottom-color: blue;
}

input[type="password"]:focus {
    border-bottom-color: blue;
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

#password,#text{
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
    background: none;
    border: none;
    outline: none;
}